@import "~bootstrap/scss/bootstrap";
//@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400&display=swap');

.container-md{
    padding: 40px;
    background-color: darkgreen;
    border-radius: 5px;
    box-shadow: 10px 10px black;
    color:white;
}
.submit-form{
    padding-top: 80px;
}

#logInModal{
    color: white;
    border-radius: 5px;
    box-shadow: 10px 10px black;
}


  
.title{
    font-size: xx-large;
    text-align: center;
}